/*quiz_styles*/

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff5db;
    /* 文字中央揃えにする */
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#home-container{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 10px;
}

#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

h2 {
    color: #333;
    text-align: center;
}

#choices button {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#choices button:hover {
    background-color: #0056b3;
}

#result, #score {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}

#restart {
    margin-top: 20px;
    padding: 8px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

#restart:hover {
    background-color: #218838;
}
